AIRTABLE_CLIENT_ID=<airtable_client_id>  
AIRTABLE_CLIENT_SECRET=<airtable_client_secret> 
AIRTABLE_REDIRECT_URI=<oauth_callback_url>  
AIRTABLE_AUTH_URL="https://airtable.com/oauth2/v1/authorize"
AIRTABLE_TOKEN_URL="https://airtable.com/oauth2/v1/token"

ATLAS_URL=<mongodb_connection_string>  
JWT_SECRET=<jwt_secret>  
JWT_EXPIRES_IN=7d
PORT=4000
FRONTEND_URL=<frontend_url>
